<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">DAILY JOURNAL</p>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <!-- 6 -->
              <li id="home"><a href="/">HOME</a></li>
              <li id="about"><a href="/about">ABOUT US</a></li>
              <li id="contact"><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
      </nav>

    </div>
    <div class="container">
      
        <h1>About us</h1>
      <p>Gravida quis blandit turpis cursus in hac habitasse platea. Consequat mauris nunc congue nisi vitae suscipit tellus mauris. Metus aliquam eleifend mi in nulla. Et ligula ullamcorper malesuada proin libero nunc. Felis bibendum ut tristique et egestas. Vitae tempus quam pellentesque nec nam aliquam sem et. Cras semper auctor neque vitae tempus. Massa placerat duis ultricies lacus sed turpis. Leo vel orci porta non pulvinar neque. Urna neque viverra justo nec ultrices dui sapien eget mi. Magna etiam tempor orci eu lobortis elementum nibh. Egestas purus viverra accumsan in. Neque volutpat ac tincidunt vitae semper. Sed tempus urna et pharetra pharetra massa massa. Suspendisse faucibus interdum posuere lorem ipsum dolor sit.</p>






    </div>


    <div class="footer-padding"></div>
      <div class="footer">
        <p>Made with ❤️ by The App Brewery</p>
      </div>
    </div>
    </body>
    </html>
</body>
</html>